div{
    background-color: brown;
    color: #fff;
    border: 3px solid yellowgreen;
    padding: 5px 5px;
    margin: 8px;
}
div h1{
    text-align: center;
    color: rgb(80, 226, 43);
}
div h3{
    color: rgb(219, 223, 8);
}
div img{
    width: 100px;
    height: 100px;
    background-color: azure;

}